{% extends 'main.html.twig' %}

{% block title %}Team Statistik{% endblock %}

{% block importmap %}{{ importmap(['app', 'statistic']) }}{% endblock %}

{%- block headline -%} Statistik {%- endblock headline -%}

{% block main %}
{% if is_granted('ROLE_ADMIN') %}
    <dialog id="import-dialog">
        <header>
            <h2>Statistik Import</h2>
            <button type="button" class="dialog-close" aria-label="Schließen" commandfor="import-dialog" command="close">&times;</button>
        </header>
        <article>{{ component('StatisticImportForm', {formData: formData, form: form}) }}</article>
    </dialog>
    <dialog id="bulk-import-dialog">
        <header>
            <h2>Bulk Import</h2>
            <button type="button" class="dialog-close" aria-label="Schließen" commandfor="bulk-import-dialog" command="close">&times;</button>
        </header>
        {{ component('BulkImportWizard') }}
    </dialog>
    <button type="button" style="float:right" commandfor="bulk-import-dialog" command="show-modal">Bulk Import</button>
    <button type="button" style="float:right" commandfor="import-dialog" command="show-modal">IMPORT</button>
{% endif %}

{{component('StatisticOverviewController')}}
<div id="table-container" class="table-container" data-url="{{dataUrl}}"></div>

{% endblock main %}
