{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" href="{{ asset('vendor/datatables.net-dt/css/dataTables.dataTables.min.css')}}">
    <link rel="stylesheet" href="{{ asset('vendor/select2/dist/css/select2.css')}}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock stylesheets %}

{% block headline %}{% endblock headline %}

{% block body %}
    {{ include('nav-top.html.twig', {headline: block('headline')} ) }}
    {{ include('flash-message.html.twig') }}
    <div class="main">
        {% block main %}{% endblock main %}
    </div>
{% endblock body %}
